.hidden{
    display: none !important;
}

input[readonly] {
    color: #777; /* Set text color to gray */
    background-color: #f4f4f4; /* Optional: Set background color */
    /* Add any other styling you want */
}

@media print {
    body * {
        visibility: hidden;
    }

    #closing, #closing * {
        visibility: visible;
    }

    #closing {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        background-color: #fff;
        z-index: 9999;
        padding-top: 20px; /* Add margin at the top for the header */
    }

    #closing .modal-content {
        width: 100%;
        margin: 0;
        border: none;
        box-shadow: none;
        max-height: none;
        overflow: visible;
        padding-top: 20px; /* Optional: Additional padding inside the modal content */
    }
}