.table th,
.table td {
    text-align: center;
}

.table thead th {
    background-color:#064c26  !important; /* Yellowish background for headers */
    color: white;
}

.table tbody tr:nth-child(odd) {
    background-color: white; /* Light yellow background for odd rows */
}

.table tbody tr:nth-child(even) {
    background-color: white; /* Darker yellow background for even rows */
}

iframe {
    width: 100%;
    height: 900px; /* Adjust the height as needed */
}

.table tbody tr.iframe-row {
    background-color: white; /* White background */
}

.foot-header{
    background-color: #064c26 !important; /* Yellowish background for headers */
    color: white;
}

th.col{
    width: 33% !important;
}