.register-form{
    padding-left: 20px;
}

/* To set the placeholder opacity */
::placeholder {
    color: #888 !important; /* Color code */
    opacity: 0.6 !important; /* Adjust the opacity (0 to 1) to control the intensity of the effect */
}

.hidden{
    display: none !important;
}